
div {
    border: 1px solid blue;
    border: radius 50px;
    padding: 25px;
    box-shadow: 20px;
    
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d0/Background-clouds.jpg);
}
li {font-style: italic;
margin: 10px;
}
h1 { 
    font-family: cursive;
    background-color: rgb(255, 255, 255);
}
